@model Secret
@{
    ViewData["Title"] = "Secret ouvert";
}

<h1 class="fs-3 text-center">Ce message est pour vous :</h1>
<div class="highlight">
    <pre>@Model.Value</pre>
</div>
<hr />
<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">Répondez avec un autre secret</a>
</div>