main > .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}